### Connecting to DB2 Cloud Data Base

In [ ]:
{
  "db": "BLUDB",
  "dsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=mpc82210;PWD=7rf3d7vvlfj^gf7d;",
  "host": "dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net",
  "hostname": "dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net",
  "https_url": "https://dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net",
  "jdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB",
  "parameters": {
    "role_crn": "crn:v1:bluemix:public:iam::::serviceRole:Manager"
  },
  "password": "7rf3d7vvlfj^gf7d",
  "port": 50000,
  "ssldsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net;PORT=50001;PROTOCOL=TCPIP;UID=mpc82210;PWD=7rf3d7vvlfj^gf7d;Security=SSL;",
  "ssljdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50001/BLUDB:sslConnection=true;",
  "uri": "db2://mpc82210:7rf3d7vvlfj%5Egf7d@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB",
  "username": "mpc82210"
}

In [21]:
dsn_hostname = "dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "mpc82210"        # e.g. "abc12345"
dsn_pwd = "7rf3d7vvlfj^gf7d"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

In [22]:
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

In [23]:
#!pip install ibm_db
import ibm_db
import pandas

In [24]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg())

Connected to database:  BLUDB as user:  mpc82210 on host:  dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net

### Drop Table

In [25]:
dropQuery = "drop table INSTRUCTOR"

dropStmt = ibm_db.exec_immediate(conn, dropQuery)

### Create Table

In [26]:
createQuery = "create table INSTRUCTOR(id INTEGER PRIMARY KEY NOT NULL, fname VARCHAR(20), lname VARCHAR(20), bdate INTEGER)"

createStmt = ibm_db.exec_immediate(conn, createQuery)

### Insert Rows

In [27]:
insertQuery = "INSERT INTO INSTRUCTOR (id, fname, lname, bdate) VALUES (1,'Rav', 'Ahuja', 1998)"

insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [28]:
insertQuery2 = "INSERT INTO INSTRUCTOR (id, fname, lname, bdate) VALUES (2, 'Raul', 'Chong', 1990), (3, 'Hima', 'Vasudevan', 1986)"

insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

### Query Data in the Table

In [29]:
selectQuery = "select * from INSTRUCTOR"

selectStmt = ibm_db.exec_immediate(conn, selectQuery)

ibm_db.fetch_both(selectStmt)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'BDATE': 1998,
 3: 1998}

In [30]:
while ibm_db.fetch_row(selectStmt) != False:
    print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

 ID: 2  FNAME: Raul
 ID: 3  FNAME: Hima

### Retrieve Data in a Pandas Frame

In [31]:
import ibm_db_dbi

In [32]:
pconn = ibm_db_dbi.Connection(conn)

In [35]:
selectQuery = "Select * from timeuse"
timeuse = pandas.read_sql(selectQuery, pconn)

In [36]:
selectQuery = "select * from INSTRUCTOR"

#retrieve the query results into a pandas dataframe
pdf = pandas.read_sql(selectQuery, pconn)

#print just the LNAME for first row in the pandas data frame
pdf.LNAME[0]

'Ahuja'

### Closing ibm_db

In [ ]:
ibm_db.close(conn)