In [1]:
import sqlite3
import pandas

### Pandas Arguments

In [19]:
filepath = 'Desktop/Repository/IBM_courses/Samples/Brasil Education/medias turmas 2010/media_alunos_turma_municipios_2010.xls'

In [ ]:
x = pandas.read_csv(filepath, sep='\t', header=None, delim_whitespace=None)
y = pandas.read_csv(filepath, na_values=['NA', *, .], names=['column_name1', 'column_name2'])

### JSON File

In [ ]:
json_obj = pandas.read_json(json_filepath)

In [ ]:
df.to_json(json_filepath)

### SQL Databases

In [3]:
conn = sqlite3.connect('/Users/luisr/Desktop/Repository/IBM_courses/Samples/SQL Databases/saep.sql')

In [5]:
cur = conn.cursor()

In [6]:
cur.execute('CREATE TABLE questionario_alunos (ID_ALUNO INTEGER PRIMARY KEY NOT NULL, ID_ESCOLA INTEGER, ID_MUNICIPIO INTEGER)')

In [15]:
conn.commit()

In [16]:
query = 'SELECT * FROM questionario_alunos'

In [18]:
list(cur.execute(query))

[]

In [17]:
pandas.read_sql(query, conn)

Empty DataFrame
Columns: [ID_ALUNO, ID_ESCOLA, ID_MUNICIPIO]
Index: []

### NoSQL Databases (Not-only SQL)

In [ ]:
from pymongo import MongoClient

cursor = MongoClient().database_name.collection_name.find(query)

df = pandas.DataFrame(list(cursor))

### APIs and Cloud Data access

In [ ]:
data_url = file_url

df = pandas.read_csv(data_url, header=None)